<!-- Sidebar -->
<div class="ant-layout-sider">
    <a href="/" id="logo">
        <div>Admin Panel</div>
        <img src="/images/logo.jpg" alt="logo">
        <span>Báo Gear</span>
    </a>
    <ul class="list-group">
        <li class="list-group-item"><a href="/account"><i class="fa-solid fa-user-group"></i>Accounts</a></li>
        <li class="list-group-item"><a href="/category"><i class="fa-solid fa-icons"></i>Categories</a></li>
        <li class="list-group-item"><a href="/product"><i class="fa-regular fa-keyboard"> </i>Products</a></li>
        <li class="list-group-item"><a href="/order"><i class="fa-regular fa-clipboard"></i>Orders</a></li>
        <li class="list-group-item"><a href="/customer"><i class="fa-regular fa-circle-user"></i>Customers</a></li>
        <li class="list-group-item"><a href="/review"><i class="fa-solid fa-star"></i>Reviews</a></li>
    </ul>
</div>
